<%- include("partials/header.ejs") %>

<!-- Overlay When Open Navigation Bar -->
<div id="bodyOverlay"> </div>

<!-- Menu Button for Mobile -->
<span class="material-icons" id="menuToggle">menu</span>

<!-- Title -->
<div class="top-level" id="sidebarMenu3"></div>
<div id="sidebarMenu">
    <div class="today pt-1">
        <i class="material-icons-outlined me-2">
            star_rate
            </i>
        <h1 class="mb-0">
            Important
        </h1>
    </div>
</div>

<!-- Content -->
<div class=" page-content" id=" content">
    <div class="content">
        <%newTaskItem.forEach((task)=>{%>
        <form action="/deleteImportantTasks" method="post">
            <div class="items">
                <input onChange="this.form.submit()" type="checkbox" value="<%=task._id%>" name="importantcheckedItem" id="checkbox">
                <p class="mb-0">
                    <%=task.name%>
                </p>
            </div>
        </form>
        <%});%>
    </div>
</div>

<div class="new-item2"></div>
<div class="new-item">
    <form action="/importantPage" method="post">
        <div class="input">
            <button class="btn-submit" type="submit" name="taskButton" id="taskBtn" required>
                <i class="fas fa-plus fa-fw"></i></button>
            <input type="text" name="ImportantTaskInput" maxlength="37" placeholder="New Task" autocomplete="off"
                id="taskInput">
        </div>
    </form>
</div>

<%- include("partials/footer.ejs") %>