<div class="new-item">
    <form action="/" method="post">
        <div class="input">
            <button class="btn-submit" type="submit" name="inputButton" value="<%=homeTitle%>" required>
                <i class="fas fa-plus fa-fw"></i></button>
            <input type="text" name="inputTask" maxlength="29" placeholder="New Task">
        </div>
    </form>
</div>