<div class="new-item">
    <form action="/" method="post">
        <div class="input">
            <button class="btn-submit" type="submit" name="taskButton" value="<%=homeTitle%>" id="taskBtn" required >
                <i class="fas fa-plus fa-fw"></i></button>
            <input type="text" name="taskInput" maxlength="29" placeholder="New Task" autocomplete="off" id="taskInput">
        </div>
    </form>
</div>