@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap');

body {
  background-color: #809bce;
  height: 100vh;
  width: 100%;
  background-position: fixed;
  font-family: 'Roboto', sans-serif;
}

h2 {
  color: #716F81;
}


#sidebarCollapse {
  border: none;
  color: #fff;
  background-color: transparent;

}


#sidebarMenu {
  background-color: rgba(128, 155, 206, 0.7);
  backdrop-filter: blur(10px) saturate(100%);
  -webkit-backdrop-filter: blur(10px) saturate(100%) contrast(100%);
  position: fixed;
  width: 100%;
  z-index: 5;
  margin-left: 16rem;
  top: 0;
  border: none;
  padding: 1rem 1.5rem;
  overflow: hidden;

}


#menuToggle {
  background-color: none;
  outline: none;
  display: inline-block;
  position: fixed;
  left: 24px;
  top: 15px;
  transition: all 0.4s;
  z-index: 7;
}


.page-content {
  
  position: relative;
  width: calc(100% -16rem);
  margin-left: 16rem;
  white-space: nowrap;
}
.content {
  position: relative;
  margin-top: 6rem;
  margin-bottom: 4rem;

}

.items {  
  border-radius: 4.5px;
  align-items: center;
  display: flex;
  overflow: hidden;
  height: 50px;
  margin-bottom: 3px;
  background-color: #fff;
  box-shadow: 1px 1px 1px px rgba(0, 0, 0, 0.3);

  
}

.items p {
  margin: 0 0 0 .5rem;
  font-weight: 400;
}

.items input {
  z-index: 1;
  margin-left: .5rem;
}

.items input:checked+p {
  text-decoration: line-through;
}

.items input[type="checkbox"] {
  z-index: 4;
  color: #000;
  border: none;
}

.today {
  height: 100%;
  width: 100%;
}

.today p,h1 {
  color: #fff;
}

/* //////////////////////////////////////////////// TASKS PAGE //////////////////////////////////////////////*/

/* Navigation Bar */
.vertical-nav {
  align-items: center;
  width: 16rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.4s;
  z-index: 20;
  overflow-y: scroll;
  background-color: #fff;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}


.nav-separator {
  margin-top: 15px ;
  border-bottom: 1px #aaa dotted;
  position: relative;
  width: 100%;
}

.nav-item {
  align-items: center;
}

.newList {
  margin-bottom: 4.5rem;
}

.nav-link {
  display: flex;
  align-items: center;
  font-weight: 400;
}

.nav-link p {
  margin-bottom: 0;
}

.nav-link:hover {
  background: #f3f2f2;
  border-radius: 20px;
}

.btn-submit {
  border: none;
  background: transparent;
  padding-left: 15px;
}

/* ////////////////////////////////////////////////END OF NAVIGATION BAR //////////////////////////////////////////////*/

/* New List */
.new-list {
  display: inline-block;
  height: 50px;
  text-align: left;
  width: 10rem;
  background: transparent;
  border: none;
}

.new-list:focus {
  outline: none;
  box-shadow: inset 0 -2px 0 0 #aaa;
}

::placeholder {
  color: #aaa;
  opacity: 8;
}

/* ////////////////////////////////////////////////END OF NEW LIST //////////////////////////////////////////////*/

/* icons */
.nav-icon {
  margin-left: 8px;
  margin-right: 18px;
}

.fa-cloud-sun {
  color: #716F81;
  font-size: 16px;
  
}

.fa-star {
  color: #716F81;
    font-size: 16px;
}

.fa-tasks {
  color: #716F81;
  font-size: 16px;
}

.fa-plus {
  color: #2a9d8f;
  font-size: 16px;
}

.fa-check {
  color: #809bce;
  font-size: 35px;
  margin-right: 2px;
}

/* ////////////////////////////////////////////////END OF ICONS //////////////////////////////////////////////*/






/* ////////////////////////////////////////////////END OF CONTENT//////////////////////////////////////////////*/

/* NEW TASKS */
.new-item {
  z-index: 5;
  margin-left: 16rem;
  width: calc(100% - 16rem);
  bottom: 0;
  position: fixed;
  transition: all 0.4s;
  background-color: rgba(128, 155, 206, 0.7);
  backdrop-filter: blur(10px) saturate(100%);
  -webkit-backdrop-filter: blur(10px) saturate(100%) contrast(100%);
  padding: 1.2rem 1.5rem;
}

.input {
  height: 45px;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.input input {
  width: 88%;
  height: 30px;
  background: none;
  border: none;
}

.input input:focus {
  outline: none;
  color: #fff;
}

.input input::placeholder {
  color: #fff;
}

.input i {
  color: #fff;
}



.important-input {
  height: 45px;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.important-input input {
  width: 88%;
  height: 30px;
  background: none;
  border: none;
}

.important-input input:focus {
  outline: none;
  color: #fff;
}

.important-input input::placeholder {
  color: #fff;
}

.important-input i {
  color: #fff;
}


/*////////////////////////////////////////////////END OF NEW TASKS //////////////////////////////////////////////*/

/* MEDIA QUERY FOR SMARTPHONES */
@media (max-width: 768px) {
  #sidebar {
    width: 15rem;
    margin-left: -15rem;
  }


  #bodyOverlay {
    visibility: hidden;
  }

  #sidebarMenu {
    margin-left: 0;
    padding: 2.8rem 1.5rem 0 1.5rem;

  }
  
  #bodyOverlay.overlay {
    visibility: visible;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px) saturate(140%);
    top: 0;
    bottom: 0;
    z-index: 6;
    -webkit-backdrop-filter: blur(10px) saturate(100%);
  }

  .today {
    width: 100%;
    margin-left: 0;
  }

  #menuToggle.active {
    margin-left: 16rem;
    transition: all 0.4s;
  }

  #sidebar.active {
    margin-left: 0;
  }



  .page-content {
    margin-left: 15rem;
    margin: 0;
  }

  .page-content.stop {
    width: 100%;
    position: fixed;
  }

  .new-item {
    width: 100%;
    margin: 0;
  }  
  .important-new-item {
    width: 100%;
    margin: 0;
  }
  
}

@media (min-width: 768px) {
  #menuToggle {

    visibility: hidden;
  }

}

/* ////////////////////////////////////////////////END OF MEDIA QUERY //////////////////////////////////////////////*/
#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 25px;
  height: 3px;
  margin-bottom: 4px;
  position: relative;

  background-color: #fff;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen 